/*#tblNCAuditee tbody tr td:first-child
{
    text-align: left;
    word-break: break-all;
}*/
.table-word-break td, .table-word-break th {
    word-break: break-word !important;
}


#tblNCAuditee tr td:not(:first-child)
{
    overflow: hidden;
    text-overflow: ellipsis;
/*    white-space: nowrap;
*/    text-align: left;
}
#tblNCAuditee tr td:nth-last-child(2)
{
    overflow: hidden;
    text-overflow: ellipsis;
/*    white-space: nowrap;
*/    text-align: center;
    cursor: default;
}
#tblNCAuditee tr td:nth-last-child(3)
{
    overflow: hidden;
    text-overflow: ellipsis;
/*    white-space: nowrap;
*/    text-align: center;
    
}
#tblNCAuditee th
{
    padding: 2px;
}

#tblNCAuditee tbody tr
{
    cursor: pointer;
}
.dyncapa
{
    margin-left: -5px;
}
.dynAttachmentfilescapa
{
    margin-left: -5px;
    margin-top: 5px;
}
.filterdrop .dropdown-menu {
    margin-left: -89px!important;
    padding-left: 85px;
}
.filterdrop .dropdown-menu  ul {
    
    width: 13vw!important;
}
.table.dataTable
{
width:98%!important;
}